header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  max-width: 1240px;
  height: 100px;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #ffcc01, red);
}

.brand-logo {
  top: 0;
}

.logo {
  width: 150px;
}

.hide-on-med-and-down li {
  font-weight: 900;
}
.sidenav {
  background: linear-gradient(to bottom, #ffcc01, red);
}
.sidenav li a {
  margin-top: 25px;
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.swiper-container {
  max-width: 1240px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container img {
  width: 100%;
}

.row .col {
  min-height: 340px;
}

.card .card-title {
  font-size: 20px;
}

.btn-large {
  background: #ffcc01;
}

.main {
  margin-top: 35px;
  max-width: 1180px;
}

.color {
  background: linear-gradient(to right, red, #ffcc01);
  font-size: 20px;
}

footer {
  max-width: 1240px;
  height: 80px;
  background: linear-gradient(to right, #ffcc01, red);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}